<div class="home__container">
	<app-card
		gameCover="assets/god of war.jpg"
		gameLabel="BEST OF THE YEAR"
		gameType="DIGITAL | PS5"
		gamePrice="R$ 569,99"
	>
	</app-card>
	<app-card
		gameCover="assets/uncharted.jpeg"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS5"
		gamePrice="R$ 269,99"
	>
	</app-card>
	<app-card
		gameCover="assets/bt-5.jpg"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS5"
		gamePrice="R$ 369,99"
		>
	</app-card>
	<app-card
		gameCover="assets/crash.jpeg"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 369,99"
	>
	</app-card>
</div>

